body {
  background: url('../../assets/img/school.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
